.import-project-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  width: 90%;
  height: 10em;
  margin: 15% 5% 15% 5%;
  background-color: transparent !important;
  color: white;
}

.import-project-icon:hover {
  background-color: rgb(255, 255, 255, 0.05) !important;
  cursor: pointer !important;
}

.import-project-icon-icon {
  width: 5em;
  color: white;
}
