.import-project-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  width: 90%;
  height: 10em;
  margin: 15% 5% 15% 5%;
  color: white;
}

.import-project-icon-container:hover {
  background-color: rgb(255, 255, 255, 0.05);
  cursor: pointer;
}

.import-project-icon {
  width: 5em;
  color: white;
}
